* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body{
    background: #FFFFF0;
    min-height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: #0F3057;
}

header img {
  height: 106.71px;
  width: 120px;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style-type: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #FFFFF0;
  font-weight: 300;
}



header.sticky {
  background-color: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
}

header.sticky .navigation li a {
  color: #111;
}


.container{
  width: 80%;
  margin: 50px auto;
  padding-top: 12.5em;
}

.contact_box{
  
  background: #FFFFF0;
  display: flex;
  border-top: 5px solid #0F3057;
  border-bottom: 5px solid #0F3057;
}

.contact_left{
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact_right{
  flex-basis: 40%;
  padding: 40px;
  color: #FFF;
  background: #0F3057;
}

h1{
  /* margin-top: 40px; */
  margin-bottom: 50px;
  color: #0F3057;
  font-size: 2em;
  font-weight: 600;
}

.input_row{
  display: grid;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input_row .input_grup{
  flex-basis: 45%;
}

input{
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #0F3057;
  outline: none;
  color: #FFFFF0;
  background-color: #FFFFF0;
}

button{
  background: #0F3057;
  width: 100px;
  border: none;
  outline: none;
  color: #FFFFF0;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}